body{
    background: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main{
    padding: 5px;
    background:rgba(138, 131, 117, 0.2);
}
.heading{
    color: red;
    font-family: Elephant;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 2px white;
}
.head-result{
    color: red;
    font-size: 25px;
    text-shadow: 1px 1px 1px white;
}
.head-input{
    color: azure;
    font-size: larger;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}
.form-group{
    margin-left: 10px;
    border-radius: 5px;
    color: black;
    text-align: center;
}
